@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;800&family=Karla:ital,wght@0,400;0,500;1,400&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background-color: #011e3c;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #071a2f;
  position: fixed;
  z-index: 3;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  color: white;
  -webkit-box-shadow: 0px 0.1px 18px -3px #1d5084;
          box-shadow: 0px 0.1px 18px -3px #1d5084;
  color: #b1bac3;
}

.drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 0.8rem;
}

.drop input {
  width: 4rem;
}

.drop .stng {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  width: 10rem;
  padding: 0.5rem;
  position: absolute;
  right: 6vw;
}

.drop .stng p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: sans-serif;
  width: -webkit-fill-available;
  margin: 0.5rem;
}

.drop .stng p input {
  text-indent: 3px;
}

.nav--logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.nav--logo p {
  margin-left: 0.5rem;
}

.img--logo {
  width: 3rem;
}

.module {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search--bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fill-available;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.search--bar input {
  width: -webkit-fill-available;
  height: 3.5rem;
  border-radius: 6px;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem 0;
  border: 1px solid #1e5085;
  background-color: #132f4c;
  color: #b2bac2;
}

.search--button {
  width: 90vw;
}

.btn {
  background-color: white;
  color: #011e3c;
  width: 23vw;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 1rem;
  border: none;
  color: #011e3c;
  text-align: center;
  cursor: pointer;
  height: 7vh;
}

.addBtn2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 4rem;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 1rem;
  border: none;
  padding: 0 2.5rem;
  cursor: pointer;
  font-weight: bold;
}

#add {
  border-radius: 12px;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

#remove {
  border-radius: 12px;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

.memeTitle {
  margin: 2rem 0;
  font-family: sans-serif;
  color: white;
  text-align: center;
  margin-top: 15vh;
}

.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 35rem;
  height: -webkit-fill-available;
  position: -webkit-sticky;
  position: sticky;
}

.display .disp--img {
  width: 70vw;
  aspect-ratio: 4/2;
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}

.display .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  position: relative;
  z-index: -1;
}

.display .texts #topText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: move;
  position: absolute;
  z-index: 1;
}

.display .texts #topTextheader {
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
  cursor: move;
  position: absolute;
  text-align: right;
  font-size: 18px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  width: 41vw;
}

.display .texts #bottomText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: move;
  position: absolute;
  -webkit-transform: translateY(18rem);
          transform: translateY(18rem);
}

.display .texts #bottomTextheader {
  opacity: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  cursor: move;
  position: absolute;
  text-align: right;
  font-size: 18px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  width: 41vw;
}

.display .texts .memeText--top {
  color: black;
  text-align: center;
  -webkit-transform: translateY(10vh);
          transform: translateY(10vh);
  color: white;
  font-weight: 800;
  font-family: "Staatliches", cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 3.5rem;
}

.display .texts .memeText--bottom {
  position: absolute;
  -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
  text-align: center;
  color: white;
  font-weight: 800;
  font-family: "Staatliches", cursive;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: 3.5rem;
}

.add--remove--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  gap: 2rem;
}

.download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  margin: 2rem 0;
  position: relative;
  justify-content: space-evenly;
}

.txt {
  color: white;
  font-size: 1.5rem;
}

.text-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: -webkit-fill-available;
  margin: 1rem 4rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 100;
}

.text-field h2 {
  color: white;
  margin-bottom: 1rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #071a2f;
  height: 3rem;
  color: #b1bac3;
  font-family: "Inter", sans-serif;
  margin-top: 10vh;
  font-size: small;
}

@media (min-width: 0px) and (max-width: 500px) {
  .drop .stng {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #132f4c;
    width: 10rem;
    padding: 0.5rem;
    position: absolute;
    top: 0rem;
    right: 10vw;
    background-color: white;
    color: black;
  }
  .display {
    position: relative;
  }
  .display .disp--img {
    width: 100vw;
  }
  .nav--logo p {
    margin-left: 0.5rem;
    font-size: 1rem;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .btn {
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    margin: 0.5rem 0;
  }
  .download {
    margin: 1rem 4rem;
    margin-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    width: -webkit-fill-available;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  #add {
    height: 4rem;
  }
  #remove {
    height: 4rem;
  }
}
/*# sourceMappingURL=main.css.map */