@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;800&family=Karla:ital,wght@0,400;0,500;1,400&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #011e3c;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

$border: 1px solid red;

main {
  display: flex;
  flex-direction: column-reverse;
}

.navbar {
  @include flex();
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #071a2f;
  border-bottom: 1px solid #1e5085;
  color: white;
  box-shadow: 0px 0.1px 18px -3px rgb(29, 80, 132);
  color: #b1bac3;
}

.drop {
  display: flex;
  width: stretch;
  transform: translateY(-1rem);
  justify-content: flex-end;
  font-size: 0.8rem;

  input {
    width: 4rem;
  }

  .stng {
    @include flex();
    flex-direction: column;
    background-color: white;
    width: 10rem;
    padding: 0.5rem;
    position: absolute;
    right: 6vw;

    p {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: sans-serif;
      width: -webkit-fill-available;
      margin: 0.5rem;

      input {
        text-indent: 3px;
      }
    }
  }
}

.nav--logo {
  @include flex();
  font-family: "Karla", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;

  p {
    margin-left: 0.5rem;
  }
}

.img--logo {
  width: 3rem;
}

.module {
  @include flex();
  justify-content: space-around;
  font-family: "Karla", sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.form {
  @include flex();
  flex-direction: column;
}

.search--bar {
  @include flex();
  flex-direction: column;
  width: -webkit-fill-available;
  justify-content: space-evenly;

  input {
    width: -webkit-fill-available;
    height: 3.5rem;
    border-radius: 6px;
    font-size: 1rem;
    text-align: center;
    margin: 0.5rem 0;
    border: 1px solid #1e5085;
    background-color: #132f4c;
    color: rgb(178, 186, 194);
  }
}

.search--button {
  width: 90vw;
}

.btn {
  background-color: white;
  color: #011e3c;
  width: 23vw;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 1rem;
  border: none;
  color: #011e3c;
  text-align: center;
  cursor: pointer;
  height: 7vh;
}

.addBtn2 {
  @include flex();
  text-align: center;
  height: 4rem;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 1rem;
  border: none;
  padding: 0 2.5rem;
  cursor: pointer;
  font-weight: bold;
}

#add {
  border-radius: 12px;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

#remove {
  border-radius: 12px;
  height: 5rem;
  width: 5rem;
  cursor: pointer;
}

#download--btn {
  //   margin-top: 6rem;
}

.memeTitle {
  margin: 2rem 0;
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.display {
  @include flex();
  flex-direction: column;
  height: 35rem;
  height: -webkit-fill-available;
  position: sticky;

  .disp--img {
    width: 70vw;
    aspect-ratio: 4/2;
    position: relative;
    object-fit: contain;
  }

  .texts {
    display: flex;
    justify-content: center;
    align-items: right;
    position: relative;
    z-index: -1;

    #topText {
      @include flex();
      cursor: move;
      position: absolute;
      z-index: 1;
    }

    #topTextheader {
      opacity: 0;
      align-items: center;
      text-align: center;
      @include flex();
      transform: translateY(1.5rem);
      cursor: move;
      position: absolute;
      text-align: right;
      font-size: 18px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      width: (41vw);
    }

    #bottomText {
      display: flex;
      justify-content: center;
      cursor: move;
      position: absolute;
      transform: translateY(18rem);
    }

    #bottomTextheader {
      opacity: 0;
      align-items: center;
      text-align: center;
      @include flex();
      cursor: move;
      position: absolute;
      text-align: right;
      font-size: 18px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
      width: (41vw);
    }

    .memeText--top {
      color: black;
      text-align: center;
      transform: translateY(10vh);
      color: white;
      font-weight: 800;
      font-family: "Staatliches", cursive;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      font-size: 3.5rem;
    }
    .memeText--bottom {
      position: absolute;
      transform: translateY(-10vh);
      text-align: center;
      color: white;
      font-weight: 800;
      font-family: "Staatliches", cursive;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: black;
      font-size: 3.5rem;
    }
  }
}

.add--remove--btn {
  @include flex();
  width: 100vw;
  gap: 2rem;
}

.download {
  @include flex();
  justify-content: space-evenly;
  height: 100%;
  margin: 2rem 0;
  position: relative;
  justify-content: space-evenly;
}

.txt {
  color: white;
  font-size: 1.5rem;
}

.text-field {
  @include flex();
  flex-direction: column;
  justify-content: space-evenly;
  width: -webkit-fill-available;
  margin: 1rem 4rem;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 100;

  h2 {
    color: white;
    margin-bottom: 1rem;
  }
}

footer {
  @include flex();
  background-color: #071a2f;
  height: 3rem;
  color: #b1bac3;
  font-family: "Inter", sans-serif;
  margin-top: 10vh;
  font-size: small;
}

@media (min-width: 0px) and (max-width: 500px) {
  .drop .stng {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #132f4c;
    width: 10rem;
    padding: 0.5rem;
    position: absolute;
    top: 0rem;
    right: 10vw;
    background-color: white;
    color: black;
  }
  .display {
    position: relative;

    .disp--img {
      width: 100vw;
    }
  }

  .nav--logo p {
    margin-left: 0.5rem;
    font-size: 1rem;
  }

  main {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn {
    width: stretch;
    margin: 0.5rem 0;
  }

  .download {
    margin: 1rem 4rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    left: 0;
    width: -webkit-fill-available;
    height: max-content;
  }

  #add {
    height: 4rem;
  }

  #remove {
    height: 4rem;
  }
}
